@font-face {
  font-family: "interval";
  src: url("interval.woff") format("woff")
}


body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #F3D3AE;
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header a {
  font: normal normal 20px/1.5 'p22-mackinac-pro', serif;
  // max-width: 300px;
  padding: 10px 35px;
  border-radius: 5px;
  margin-top: 0;
  display: block;
  // background-color: #344196;
  // background-color: #341E5A;
  // background-color: #F3D3AE;
  border: 1px solid #341E5A;
  color: #341E5A;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  z-index: 20;
}

header a:hover {
  background-color: #341E5A;
  color: white;
}

header .hero-text {
  position: relative;
  font: normal normal 47px/1.3 "p22-mackinac-pro", serif;
  max-width: 700px;
  z-index: 20;
  cursor: pointer;
}

.hero-text:hover + .hero {
  display: block;
}

header .hero {
  width: 100%;
  max-width: 1200px;
  margin-top: -1.5em;
  position: absolute;
  display: none;
}

@media (max-width: 750px) {
  header .hero-text { font-size: 34px; }
  header a span { display: none; }
  header .hero {  margin-top: 0; }
  main li h3 { font-size: 31px; }
}

h1 {
  margin: 0;
}

h1 img {
  width: 60%;
  max-width: 700px;
  mix-blend-mode: multiply;
  position: relative;
  z-index: 20;
}

main {
  margin: 0 auto;
  width: 90%;
  max-width: 700px;
}

main h2 {
  margin-top: 3em;
 font: normal bold 20px/1.5 'p22-mackinac-pro', serif; 
}

main ul {
  list-style-type: none;
  padding: 0;
}

main h3 {
  font: normal normal 50px/1 'p22-mackinac-pro', serif;
  margin-bottom: 0;
  cursor: pointer;
}

li .metadata {
  margin-top: 2em;
  font: normal normal 15px/1 'interval', serif;
}

.columns {
  display: flex;
}

@media (max-width: 600px) {
  .columns {
    display: block;
  }
}

.column:first-child {
  margin-right: 30px;
  flex-basis: 30%;
}

.column:nth-child(2) {
  flex-basis: 70%;
}

.column h4 {
  font: normal normal 18px/1 'p22-mackinac-pro', serif;
}

.column p {
  font: normal normal 14px/1.5 'p22-mackinac-pro', serif;
}

.game-rules {
  display: none;
}

.game-rules.showing {
  display: block;
}
